@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid text-light text-center p-5">
    <h3 class="display-6">"Future of Car Repair" Workshop!</h3>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg" href="@GitHubLink" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github mr-2"></i> My GitHub
        </a>
        <br/>
        <small>Made by: Dobos Patrik</small>
    </div>
</div>

@code {
    private readonly string GitHubLink = "https://github.com/dpatrik0610";
}

<style>
    body {
        background: linear-gradient(to bottom, #8e44ad, #c0392b);
        color: #ecf0f1;
    }

    h1, p {
        color: #ecf0f1;
    }

    .btn-primary {
        background-color: #3498db;
        border-color: #3498db;
    }

        .btn-primary:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }
</style>
